body {
	background-color: whitesmoke;
}

.container {
	display: flex;
	background-color: #fff;
	width: 1010px;
	height: 502px;
	margin: 185px 425px;

}

.img {
	display: inline-block;
	padding: 63px 93px 63px 47px;
}

.container__right {
	display: flex;
	flex-direction: column;
}

.title {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 22.5px;
	padding: 72px 0px 9px 4px;
}

.title__paragraph {
	font-family: Arial;
	font-size: 15px;
	width: 430px;
	height: 50px;
	margin: 0px;
	padding-bottom: 38px;
	padding-left: 6px;
}

.title__price {
	padding-left: 6px;
	font-family: Arial;
	font-size: 15px;
	padding-bottom: 2px;
}

.price {
	font-family: Arial;
    font-size: 30px;
	padding-left: 6px;
	margin-top: 0.5px;
	margin-bottom: 55px;
}

.button {
	font-family: Arial;
	font-size: 19px;
	width: 177px;
	height: 18px;
	background-color: #ec744a;
	color: white;
	margin-left: 7px;
	margin-top: -1px;
	padding: 16px 39px;
	text-decoration: none;
}

.button:hover {
	background-color:#f34404;
}